.a-tag {
  display: inline-block;
  margin: 0 0.1em 0.6em 0;
  padding: 0.6em;
  line-height: 1;
  text-decoration: none;
  color: #7d7d7d;
}

.a-tag:before {
  content: "#";
  margin-right: 2px;
}

.a-tag--primary {
  color: #274a78;
  background-color: #fff;
  border: 1px solid #274a78;
}
.a-tag--secondary {
  background-color: #fff;
  border: 1px solid #7d7d7d;
}

.a-tag--oval {
  border-radius: 2em;
}

.a-tag--small {
  font-size: 12px;
  padding: 10px 16px;
}
.a-tag--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.a-tag--large {
  font-size: 16px;
  padding: 12px 24px;
}
