.a_button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.a_button__primary {
  color: white;
  background-color: #1ea7fd;
}

.a_button__primary:hover {
  background-color: #1391cc;
}

.a_button__secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.a_button__secondary:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1.5px inset;
}

.a_button__small {
  font-size: 12px;
  padding: 10px 16px;
}

.a_button__medium {
  font-size: 14px;
  padding: 11px 20px;
}

.a_button__large {
  font-size: 16px;
  padding: 12px 24px;
}

.a_button__radius {
  border-radius: 3em;
}
